<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--  Importing VUE.JS using a CDN  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <!--css-->
  <title>Document</title>

  <style>
    .text-red {
      background-color: red;
      color: white;
      padding: 15px;
      font-weight: 800;
    }

    .text-blue {
      background-color: Blue;
      color: white;
      padding: 15px;
      font-weight: 800;

    }
  </style>


</head>

<body>


  
<div id="app">
  <br>


  <!--#############################################  api read   ####################  -->
  
  {{ message }}

  <br>
  <button :class="active ? 'text-red' : 'text-blue' " @click="toggle"> Click Here {{count}} </button>

  <ul >
    <h4> Assets</h4>
    <li style="text-decoration: none;" v-for="asset in assets"> {{ asset.pk}} {{asset.role}}  {{asset.dob}} {{asset.phone_number}} </li>
  </ul>

</div>


<script>

  /* ----------   oPTIONS api  ------------------- */

  const { createApp } = Vue

  createApp({

    data() {
      return {
        message: 'Hello Vue!',
        count: 0,
        active : 'false',
        assets : [],
      }
      console.log(assignments)
    },

    created(){
      alert('Alert-Atis');
      console.log('this is a home page')
      fetch('http://127.0.0.1:8000/employee/')
        .then(response=> response.json())

        .then( assets=>{ 
               console.log(assets);
               this.assets = assets;
               });

    },



    methods: {
     toggle (){

      this.active = !this.active
      alert('toggle');
      this.buttonClass = 'text-blue'
      console.log('clicked')
     }
      
    }
  }).mount('#app')
</script>



  
</body>
</html>